.blog-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    background-color: #C1DDA0;
    .article-card {
      background: #fff;
      box-shadow: 0 4px 8px rgba(0,0,0,0.1);
      width: 300px;
      padding: 20px;
      text-align: center;
      transition: transform 0.3s ease;
  
      img {
        width: 100%;
        height: auto;
        border-radius: 8px;
      }
  
      h3 {
        color: #333;
        margin-top: 15px;
      }
  
      p {
        color: #666;
        font-size: 0.9rem;
      }
  
      button {
        background-color: #C1DDA0;
        color: white;
        border: none;
        padding: 10px 20px;
        cursor: pointer;
        border-radius: 5px;
        margin-top: 10px;
  
        &:hover {
          background-color: #0056b3;
        }
      }
    }
  }
  .title{
    background-color: #C1DDA0;
    color: white;
  }
  