// Variables
$bg-color:#C1DDA0;  // Dark background color
$text-color: #fff;  // White text color
$accent-color: #C1DDA0;  // Accent color for buttons and icons

// Base styles
body {
    font-family: Arial, sans-serif;
    background-color: $bg-color;
    color: $text-color;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.contact-container {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 120px 0px;
    background-color: white; // Adjusted darker shade
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    display: flex;
    justify-content: center;
}

.contact-info, .contact-form {
    padding: 20px;
    width:50%;
}

// Info styling
.contact-info {
    width:80%;
    border-right: 1px solid #444;  // Lighter border for division

    h2 {
        margin-top: 0;
    }

    ul {
        list-style: none;
        padding: 0;

        li {
            margin-bottom: 10px;
            display: flex;
            align-items: center;

            strong {
                margin-right: 10px;
            }

            a {
                color: $accent-color;
                text-decoration: none;
            }
        }
    }
}

// Form styling
.contact-form {

    width:40%;
    background-color: white;
    .form-group {
        margin-bottom: 20px;
    }

    label {
        display: block;
        margin-bottom: 5px;
    }

    input[type="text"],
    input[type="email"],
    textarea {
        width: 100%;
        padding: 10px;
        border: 1px solid black;
        border-radius: 5px;
        background-color: white;
        color: $text-color;
    }

    button {
        background-color: $accent-color;
        color: $text-color;
        border: none;
        padding: 10px 20px;
        width: 100%;
        cursor: pointer;
        transition: background-color 0.3s;

        &:hover {
            background-color: darken($accent-color, 10%);
        }
    }
}

.title{
display: flex;
justify-content: center;
font-weight: bold;
font-size: large;
}

// Responsive adjustments
@media (max-width: 600px) {
    .contact-container {
        grid-template-columns: 1fr;
    }

    .contact-info {
        border-right: none;
        border-bottom: 1px solid #444;
    }
}
