<header class="app-header">
    <div class="logo">wave</div>
    <nav>
      <a routerLink="/home" routerLinkActive="active">Home</a>
      <a routerLink="/about" routerLinkActive="active">Find a collage</a>
      <a routerLink="/services" routerLinkActive="active">Services</a>
      <a routerLink="/blog" routerLinkActive="active">Blog</a>
      <a routerLink="/contact" routerLinkActive="active">Contact us</a>
    </nav>
    <div class="auth-buttons">
      <button class="btn-login">Log in</button>
      <button class="btn-signup">Sign up</button>
    </div>
  </header>

